.container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-content: center;
}

.Header {
  grid-area: 1 / 1 / 2 / 4;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(31,5,74,1) 4%, rgba(91,46,162,0.9836309523809523) 48%, rgba(88,58,131,1) 100%);
}

.SideBar {
  grid-area: 2 / 1 / 4 / 2;
  /* background: rgb(3,36,0); */
background: linear-gradient(90deg, rgba(3,36,0,1) 4%, rgba(24,130,15,0.9836309523809523) 36%, rgba(0,255,72,1) 100%);
}

.content-1 {
  grid-area: 2 / 2 / 3 / 4;
  background: linear-gradient(90deg, rgba(8,31,65,1) 4%, rgba(15,60,121,0.9836309523809523) 36%, rgba(52,113,198,1) 100%);
}

.Content-2 {
  grid-area: 3 / 2 / 4 / 3;
  background: linear-gradient(90deg, rgba(8,31,65,1) 4%, rgba(15,60,121,0.9836309523809523) 36%, rgba(52,113,198,1) 100%);
}

.Content-3 {
  grid-area: 3 / 3 / 4 / 4;
  background: linear-gradient(90deg, rgba(8,31,65,1) 4%, rgba(15,60,121,0.9836309523809523) 36%, rgba(52,113,198,1) 100%);
}

.Footer {
  grid-area: 4 / 1 / 5 / 4;
  background: linear-gradient(90deg, rgba(31,5,74,1) 4%, rgba(91,46,162,0.9836309523809523) 48%, rgba(88,58,131,1) 100%);
}
